<form method="POST" action="/new">
  Name:<br>
  <input type="text" name="name">
  <br>
  Email:<br>
  <input type="text" name="email">
  <br>
  Gender:<br>
  <input type="text" name="gender">
  <br>
  City:<br>
  <input type="text" name="city">
    <input type="submit" value="Submit">
</form>
